<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <form th:action="@{/register}" th:object="${user}" method="post">
    <div class="row">
        <div class="col">
            <input type="text" th:field="*{firstName}" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>

    <div class="form-floating mb-3">
        <input type="email" th:field="*{email}" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Phone number</label>
        <input type="Long" th:field="*{Telephone}" class="form-control" id="formGroupExampleInput2" placeholder="Type your phone number">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>